{{template "header" .}}

<iframe id="webclient-frame" border="0" src="/webclient-pure.html"></iframe>
<script type="text/javascript">

    function resizeClientIFrame() {
        const contentContainer = document.getElementById('content-container');
        contentContainer.style.padding = "0px";

        wcIframe = document.getElementById('webclient-frame');
        // For some reason safari acts weird if we don't reset this first.
        wcIframe.width = "0px"; 
        wcIframe.height = "0px";
        
        // Calculate scrollbar width
        const outer = document.createElement('div');
        outer.style.cssText = 'visibility:hidden;overflow:scroll';
        document.body.appendChild(outer);
        outer.appendChild(document.createElement('div'));
        const scrollbarWidth = outer.offsetWidth - outer.firstChild.offsetWidth;
        document.body.removeChild(outer);
        
        // Set proper height/width - subtract scrollbar width to prevent cropping
        wcIframe.width = contentContainer.clientWidth - scrollbarWidth;
        wcIframe.height = contentContainer.clientHeight;
        
    }
    window.addEventListener("load", resizeClientIFrame);
    window.addEventListener('resize', resizeClientIFrame);
    window.addEventListener('beforeunload', function(event) {
        event.preventDefault();
        event.returnValue = 'Leave/Disconnect from the MUD?';
    });
</script>
{{template "footer" .}}